{% extends 'blog.html.twig' %}


{% block content %}
    {% if page.header.title %}
    <h2>{{page.header.title|e }}</h2>
    {% endif %}


    {{ page.content|raw }}

    {% set materialType = page.header.material_type|e %}
    {% if materialType %}
    <h4>Materials in this item</h4>
    <ul>
        {% for link in materialType %}
            {% if page %}
                <li><a href="{{ link }}">{{ grav.page.find(link).header.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}