{% extends 'lib_material.html.twig' %}

{% block collections %}
    {% set materials = page.header.materials|e %}
    {% if materials %}
        <h3>Materials making up this item</h3>
        {% include('partials/lib_related_items.html.twig') with {link_list: materials} %}
    {% endif %}
{% endblock %}