{% extends 'partials/base.html.twig' %}


{% block body %}
        {% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
        {% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
<div class="wrapper padding padding-around">
    {% embed 'partials/layout.html.twig' with {blog: page} %}
        {% block item %}
            <section id="body">
                <div class="wrapper padding">
                    {% include('partials/lib_content.html.twig')%}

                    {% block collections %}
                        {% include('partials/lib_item_collection.html.twig') %}
                    {% endblock %}
                </div>
            </section>
        {% endblock %}
        {% block sidebar %}
            <div class="padding-top">
                {% include('partials/sidebar.html.twig') %}
            </div>
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}