{# Simple collection template that works with either a list of links or a collection.
Variables: 
    - collection (a collection of pages) 
    - header_var: the header variable to check for the route
    - link_list: list of links (should only be set if collection is not set)
    
#}
<div class="container">
<ul class="columns">
{% if collection %}
    {% for child in collection %}
        {% if header_var == 'material_type' %}
            {% set child_header = child.header.material_type %}
        {% elseif header_var == 'process' %}
            {% set child_header = child.header.processes %}
        {% endif %}
        {% if page.route in child_header %}
        <li class="column col-xs-4 col-md-3 col-lg-1 col-mr-auto">
            {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
        {# <a href="{{ i.url|e }}">{{ i.header.title|e }}</a> #}
        </li>
        {% endif %}
    {% endfor %}
{% elseif link_list %}
    {% for link in link_list %}
        {% set referencePage = grav.page.find(link) %}
        {% if referencePage %}
            <li class="column col-xs-4 col-md-3 col-lg-1 col-mr-auto">
            {#<a href="{{ link|e }}">{{ referencePage.header.title|e }}</a>#}
            {% include 'partials/blog-list-item.html.twig' with {blog: page, page: referencePage} %}
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>
</div>
