<div class="container">
    <div class="columns col-oneline">
        <div class="column col-auto">
        {% for image in page.media.images %}
            {{ image.lightbox(1024,768).cropresize(200,200).html|raw }}
        {% endfor %}
        </div>
    </div>
</div>