<div class="container">
    <div class="columns col-oneline">
        {% for image in page.media.images %}
        <div class="column col-4">
            {{ image.lightbox(1024,768).cropresize(200,200).html("", "View Image", "img-fit-contain")|raw }}
        </div>
        {% endfor %}
    </div>
</div>