@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.bricklayer-column-sizer {
    width: 100%;
    display: none;
}

@media screen and (min-width: 640px) {
    .bricklayer-column-sizer {
        width: 50%;
    }
}

@media screen and (min-width: 980px) {
    .bricklayer-column-sizer {
        width: 33.3333%;
    }
}

/* mobile tree menu fix */

.treemenu li {
    padding: 15px 5px;
}

/* Navbar text */

#header .navbar-text-mat {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    color: #5f8dd3;
}

#header .navbar-text-lib {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    color: #bc5fd3;
}

#header .navbar-logo-text {
    margin: auto 0;
}

/* Card fix */

.card-header {
    padding: 0.1rem 0.8rem;
}

.card-subtitle {
    /* turn off date */
    display: none
}

