@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.padding {
    padding: 3rem 1rem;
}


.padding-top {
    padding-top: 10rem;
}

.container.grid-lg {
    max-width: 80vw;
}

/* mobile tree menu fix */

.treemenu li {
    padding: 15px 5px;
}

/* Navbar text */

#header .navbar-text-mat {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    color: #5f8dd3;
}

#header .navbar-text-lib {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    color: #bc5fd3;
}

#header .navbar-logo-text {
    margin: auto 0;
}

@media screen and (max-width: 768px) {
    #header .navbar-text-mat {
        display: none;
    }

    #header .navbar-text-lib {
        display: none;
    }
}
    


/* Card fix */

.card-header {
    padding: 0.1rem 0.8rem;
}

.card-subtitle {
    /* turn off date */
    display: none
}

.card-image-raw {
    width: 100%;
}